.footer{
    padding: 100px 100px;
    background-color: rgb(180, 181, 184);
    display: flex;
    justify-content: space-evenly;
   
}

.footer p{
    color: rgb(92, 90, 90);
}

.footer a{
    text-decoration: none;
    color: rgb(92, 90, 90);
}

.footer .footer-div-img{
   align-content: center;
}

.footer-div-img img{
    height: 100px;
}