.info{
    height: 42vh;
    margin-left: 10px;
    margin-right: 10px;
    align-content: center;
    background-color: black;
    color: coral;
}

.info p{
    height: 10vh;
    margin-left: 10px;
    margin-right: 10px;
    align-content: center;
    font-size: 8px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: blue;
}