.info{
    height: 30vh;
    width: 90%;
    background-color: rgb(200, 120, 120); 
    margin-left: 20px; 
    align-content: center;
    text-align: center;
}

.info p {
    font-size: 12px;
    font-weight: bold;
}
