.profile{
    height: 10vh;
    background-color: chartreuse;
    margin-left: 10px;
    margin-right: 10px;
    text-align: end;
    align-content: center;
    color: black;
    font-weight: bolder;
    font-style: italic;
}