
.services h2{
    text-align: center;
    color: aliceblue;
    font-size: 35px;
}

.services p{
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
    color: rgb(159, 163, 167);
}

.services-cards{
    display: flex;
    gap: 50px;
    justify-content: center;
    margin: 100px 100px;
}

.services-cards .card{
    height: 200px;
    width: 300px;
    background-color: #1b1b1b;
    align-content: center;
    text-align: center;
    border-radius: 20px;
    padding: 0px 30px;
    padding-bottom: 10px;
}

.card #h5{
    margin: 10px 0px;
    color: #f96901;
    font-size: 20px;
    letter-spacing: 1px;
    font-family: "Ubuntu Sans", sans-serif;
}

.card img{
    height: 50px ;
    width: 50px;
}



 i{
    font-size: 30px;
    color: rgb(200, 200, 228);
   
}

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

.card #card{
    color: aliceblue;
}

.card p{
    font-size: 16px;
}

.card:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 2s ;
}




/* Media queries for responsiveness */
@media screen and (max-width: 1200px) {
    .services-cards {
        margin: 100px 20px; /* Reduce margin for smaller screens */
    }

    .services-cards .card {
        width: 250px; /* Adjust card width for smaller screens */
    }
}



@media screen and (max-width: 900px) {
    .services-cards {
        margin: 70px 20px; /* Reduce margin for smaller screens */
    }

    .services-cards .card {
        width: 230px; /* Adjust card width for smaller screens */
    }
}

@media screen and (max-width: 768px) {
    .services h2 {
        font-size: 30px; /* Adjust heading font size */
        text-align: start;
        margin-left: 10px;
    }

    .services p {
        font-size: 18px; /* Adjust paragraph font size */
        text-align: start;
        margin-left: 10px;
    }

    .services-cards {
        margin: 50px 10px; /* Further reduce margin for smaller screens */
        display: flex;
        flex-direction: column;
    }

    .services-cards .card {
        width: 100%; /* Make cards full width on smaller screens */        
    }

    .services-cards .card p{
        text-align: center;
    }

    
}
